/* 
  Navigation.module.css
  This file contains the styles for the Navigation component.
  It defines styles for the unordered list, list items, and link elements.
*/

.navList {
    list-style-type: none;
    padding: 0;
  }
  
  .navItem {
    margin-bottom: 1rem;
  }
  
  .link {
    text-decoration: none;
    color: #1976D2;
  }
  